html{
  height: fit-content;
  font-size: 62.5%;
}
body {
  height: 100vh;
  margin: 0px;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/components/card/twitter\ cover1.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  
 max-height: 100%;
 width:auto;

}
@media (min-width: 2000px){
  body{
    background-image: url(../src/components/card/Website\ banner.JPG);
  background-position: auto;
  background-size:cover;
  background-repeat: no-repeat;
 max-height: 100%;
 width:auto ;
  }
}